user = whodat
password = foobar
devices = 0,1,2,3
logfile = daemon
hostname = localhost
port = 8332
frames = 1
askrate = 5
rate = 10
worksize = -1
vectors = 0
emailFrom = 'daemon-noreply@sandtrout.local'
emailTo = 'brock@brocktice.com'
