user = whodat
password = foobar
devices = 0,1,3,4
logfile = minerd
hostname = localhost
port = 8332
frames = 2
askrate = 5
rate = 10
worksize = -1
vectors = 0
emailFrom = 'minerd-noreply@HOSTNAME'
emailTo = 'you@yourdomain.com''
